.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 90%;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.house {
  display: flex;
  flex-direction: column;
  align-items: center;
}
